ion-fab {
  margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
  position: absolute;
  left: 38.25vw;
  ion-fab-button {
     --box-shadow: none;
  }
  
}
ion-tab-bar {
  --border: 0;
  background: #9e824e;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  &:after {
    content: " ";
    width: 100%;
    bottom: 0;
    background: var(--ion-color-light);
    height: env(safe-area-inset-bottom);
    position: absolute;
  }
  ion-tab-button {
    --background: #162021;
    --padding-start: 0;
    --padding-end: 0;
    --color-focused: white;
    --color-selected: white;
  }
}
.clip-each{
    background: lightblue;
    width: 6rem;
    height: 6rem;
}
.clip-wrap{

    background: #162021;
    color: white;
    width: 5.7rem;
    height: 5.7rem;
}
.clip-each, .clip-each:after, .clip-wrap, .clip-wrap:after {
    clip-path: polygon( 50% 100%, 95% 75%, 95% 25%, 50% 0%, 5% 25%,  5% 75%);
    
  }


  .arrow-down-1 {
    width: 0;
    height: 0;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    position: absolute;
    top: 0;
    border-top: 0.7rem solid #9e824e;
    animation: Animation 3s ease ease-in-out;
    visibility: hidden;
  }
  .arrow-down-2 {
    z-index: -5;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    position: absolute;
    top: 0;
    border-top: 1rem solid #253d3f;
    animation: Animation 3s ease ease-in-out;
    visibility: hidden;
  }
  .arrow-down-3 {
    z-index: -10;
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    position: absolute;
    top: 0;
    border-top: 1.2rem solid #9e824e;
    animation: Animation 3s ease ease-in-out;
    visibility: hidden;
  }
  .gold-gradient {
    z-index: -20;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, #162021, #253d3f, #9e824e);
    background-size: 150% 150%;
  
    animation: Animation 3s ease infinite;
    visibility: hidden;
  }
  
  ion-tab-button[aria-selected="true"] .gold-gradient {
    visibility: visible;
  }
  ion-tab-button[aria-selected="true"] .arrow-down-1 {
    visibility: visible;
  }
  ion-tab-button[aria-selected="true"] .arrow-down-2 {
    visibility: visible;
  }
  ion-tab-button[aria-selected="true"] .arrow-down-3 {
    visibility: visible;
  }

  div.active > .gold-gradient {
    visibility: visible;
  }
  div.active > .arrow-down-1 {
    visibility: visible;
  }
  div.active > .arrow-down-2 {
    visibility: visible;
  }
  div.active > .arrow-down-3 {
    visibility: visible;
  }
  
  @keyframes Animation {
    0% {
      background-position: 10% 0%;
    }
    50% {
      background-position: 91% 100%;
    }
    100% {
      background-position: 10% 0%;
    }
  }