@font-face {
    font-family: 'Lol';
    src: url('../assets/fonts/lol.ttf') format('embedded-opentype'), url('../assets/fonts/lol.woff') format('woff'), url('../assets/fonts/lol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Lol' !important;
}